<!-- <div *ngIf="(contentObs | async) as contents" class="content">   -->
<div class="content">
    <!-- <cdk-virtual-scroll-viewport itemSize="100" (scrolledIndexChange)="nextBatch($event)"> -->
        <mat-card class="cardClass" *ngFor="let content of contents; let i = index;">
            <mat-card-title style="text-align: center;">
                {{content.title}}
            </mat-card-title>
            <mat-card-content class="contentHeight">
                {{content.text}}
            </mat-card-content>
            <mat-card-actions >
                <button mat-raised-button (click)="onViewContent(i)">
                    View
                    <mat-icon matSuffix>description</mat-icon>
                </button>
                <button mat-raised-button  color="primary">
                    Edit
                    <mat-icon matSuffix>edit</mat-icon>
                </button>
            </mat-card-actions>
            <mat-card-subtitle style="text-align: end;">
                {{content.date}}
            </mat-card-subtitle>
        </mat-card>
    <!-- </cdk-virtual-scroll-viewport>  -->
</div>