<div class="content">   
    <mat-card class="cardClass" *ngFor="let in of [0,1];">
        <mat-card-title style="text-align: center;">
            Dummy Card
        </mat-card-title>
        <mat-card-content class="contentHeight">
            Hi...This is a dummy cardHi...This is a dummy card<br><br>Hi...This is a dummy card<br><br><br><br><br>Hi...This is a dummy card<br><br><br><br><br>
        </mat-card-content>
        <mat-card-actions >
            <button mat-raised-button (click)="onViewContent()">
                View
                <mat-icon matSuffix>description</mat-icon>
            </button>
            <button mat-raised-button  color="primary">
                Edit
                <mat-icon matSuffix>edit</mat-icon>
            </button>
        </mat-card-actions>
        <mat-card-subtitle style="text-align: end;">
            10/05/2020
        </mat-card-subtitle>
    </mat-card>
</div>
