.mynavbar {
    background-color: #663897;
    position: sticky;
    z-index: 1;
    overflow: hidden;
    height: 9.11%;
}

.ulStyle {
    list-style-type: none;
    height: 100%;
    width: 100%;
    padding: 0%;
    margin-left: 2%;
    margin-bottom: 0%;
}

.leftStyle {
    float: left;
    width: 8%;
    height: 100%;
}

.brandLogo {
    height: 90%;
    width: 100%;
    margin-top: 2%;
}

.brand-name {
    margin-left: 40%;
    margin-top: 15%;
    padding: 5px;
    display: block;
    text-align: center;
    color: #6EFFFE;
    font: 22pt open-sans;
    text-decoration: none;
    font-weight: 500;
}
