.footer-style {
    width: 100%;
    bottom: 0px;
    height: 11.32%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: hsl(207, 89%, 86%);
}

.left {
    width: 50%;
    float: left;
    color: black;
    font: 11pt open-sans;
    font-weight: 500;
    cursor: pointer;
}

.right {
    width: 50%;
    float: left;
    color: black;
    font: 11pt open-sans;
    font-weight: 500;
    cursor: pointer;
}