.footer-style {
    width: 100%;
    height: 11.32%;
    display: flex;
    bottom: 0;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #464cfc;
}

.left {
    width: 50%;
    float: left;
    color: black;
    font: 11pt open-sans;
    font-weight: 500;
    cursor: pointer;
}

.right {
    width: 50%;
    float: left;
    color: black;
    font: 11pt open-sans;
    font-weight: 500;
    cursor: pointer;
}