.rightStyle {
    float: right;
    margin-right: 3%;
}

.linkStyle {
    display: block;
    text-align: center;
    text-decoration: none;
    color: #6EFFFE; 
    font: 11pt open-sans;
    font-weight: 500;
    margin-top: 25px;
}