
.rightStyle {
    float: right;
    margin-right: 5%;
    margin-top: 2%;
}

.linkStyle {
    text-decoration: none;
    color: #6EFFFE; 
    font: 11pt open-sans;
    font-weight: 500;
    cursor: pointer;
}