<div class="addStyle">
    <mat-card class="cardClass">
        <mat-card-title style="text-align: center">Add Today's Story</mat-card-title>
        <form class="formClass" (ngSubmit)="addContent(f)"  #f="ngForm">
            <mat-card-content class="contentClass">
                <mat-form-field class="formFieldClass">
                    <textarea required rows="15" matInput name="content" id="content" placeholder="Content" #content="ngModel" ngModel></textarea>
                </mat-form-field>
                <mat-error *ngIf="content.invalid && content.touched">Content cannot be empty</mat-error>
                <mat-form-field class="formFieldClass">
                    <input matInput [matDatepicker]="picker" disabled placeholder= {{date}} name="date" #d="ngModel" ngModel>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                  </mat-form-field>
            </mat-card-content>
            <mat-card-actions style="align-items: center;">
                <button mat-raised-button color="primary" type="submit">Add</button>
            </mat-card-actions>
        </form>
    </mat-card>
</div>